AUDIO_PROVIDER=
ELEVENLABS_API_KEY_1=
ELEVENLABS_API_KEY_2=
ELEVENLABS_API_KEY_3=
ELEVENLABS_API_KEY_4=
ELEVENLABS_API_KEY_5=
GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_TTS_MODEL=
GEMINI_TTS_VOICE=
LICENSE_KEY=
LICENSE_SECRET_SALT=
OPENAI_API_KEY=
TIKTOK_USERNAME=
TIKTOOLS_API_KEY=
VOICE_ID=
VOICE_SPEED=
YOUTUBE_API_KEY=
YT_CHANNEL_LIVE_ID=
YT_CHANNEL_LIVE_OWNER=
YT_CLIENT_ID=
YT_CLIENT_SECRET=
YT_REFRESH_TOKEN=
YT_SUBSCRIBERS_COUNT=
YT_TARGET_GOAL=
YT_TOTAL_VIDEOS=
YT_TOTAL_VIEWS=